@model AngelsAutomotive.Data.Entities.Parts

@{ ViewData["Title"] = "Delete"; }

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Service Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartSeller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartSeller)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResellingPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResellingPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchasedPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchasedPrice)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
